# ❗ Android 기본
*.iml
.gradle
*/.gradle/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.log
*.swp
*.tmp

# ❗ IDE 관련
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# ❗ 환경 설정 파일
local.properties
/local.properties

# ❗ APK / AAB / 서명 키
*.apk
*.ap_
*.aab
*.keystore
*.pem

# 🔐 Keystore 폴더 전체 제외
keystore/

# 📦 릴리즈 폴더
/app/release/

# 📚 EPUB 관련
/epub-extractor/build/
/epub-source/
